body {
 text-align:center;
 color: #e6dcd9;
}

img{width:auto;
	height:auto;
	max-width : 100%;
	max-height: 100%}

#site-box {	
	width:auto;
	height:auto;
	max-width : 100%;
	overflow:hidden;
}


#site-box-had{
	height:10%;
}

#site-box-side-a{
	/*background:#8B0000;*/
	width:2%;
	float: left;
}

#site-box-left {
	width:47%;
	float: left;
	margin-right: auto;
}

#site-box-side-b{
	/*background:#8B0000;*/
	width:2%;
	float: left;
}


#site-box-right {
	padding-bottom: 10000px;
margin-bottom: -10000px;
	background-image:url("./back2.png");
	width:47%;
	float: left;
	background-repeat: repeat;
}

#site-box-side-c{
	/*background:#8B0000;*/
	width:2%;
	float: left;
}


#osusume-box{

}

#osusume-side-a{
	width:2%;
	float: left;
}

#ab-box{
	/*background:#0000ff;*/
	width:47%;
	float: left;
	height: 500px;
}

#osusume-side-b{
	width:2%;
	float: left;
}

#cd-box{
	 width:47%;
     float: left;
     height: 500px;

}

#osusume-side-c{
	width:2%;
	float: right;
}

#a-box {
	width:49%;
	float: left;
	height: 800px;
	background-image:url("./c2.png");
    }

#osusume-a-box{
	width:95%;
	height: 800px;
	margin: 0 auto;
	}	

#b-box {
	 width:49%;
     float: right;
	 height: 800px;
	 background-image:url("./A4.png");
}

#c-box {
	 width:49%;
     float: left;
	 height: 800px;
	 background-image:url("./A1.png");
}

#d-box {	
	width:49%;
	float: right;
	 height: 800px;
	 background-image:url("./b3.png");    
}